<div class="jumbotron hidden-xs">
  <p>'Music'</p>

  Here are some choice examples of my decades long pursuit of making a decent song.
</div>

<div class="row">
  <div class="col-xs-12 col-md-4">
    <a href="#" class="thumbnail">
      <iframe width="100%" height="200" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/150852331&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
    </a>
  </div>
  <div class="col-xs-12 col-md-4">
    <a href="#" class="thumbnail">
      <iframe width="100%" height="200" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/150675617&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
    </a>
  </div>
  <div class="col-xs-12 col-md-4">
    <a href="#" class="thumbnail">
      <iframe width="100%" height="200" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/81138309&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
    </a>
  </div>
</div>



